@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background: #E8E9F8;
    font-family: 'Poppins', sans-serif;
    height: 200vh;
    overflow-x: hidden;
}

a {
    color: #484657 !important;
}

.header {
    padding: 0.5rem 5rem;
}

.navbar {
    background: #E8E9F8 !important;
}

.icon {
    margin-right: 0.5rem;
}

.font_bold {
    font-weight: 600;
}

.other_links {
    display: none;
}

section.hero {
    height: 100vh;
    margin: 0px 10rem;
}

article.subscritions {
    height: 50vh;
    background-color: #BCC1E4;
    box-shadow: 2px 2px 5px 5px #BCC1E4;
}


article.box {
    width: 20rem;
    height: 30rem;
    background: #fff;
    margin: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 15px;
}

/* article.box .head {
    background-color:#484657
} */

article.box .head img {
    height: 100% !important;
    display:block;
    margin:auto;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 1rem;
}

@media only screen and (max-width: 991px ) {
    .other_links {
        display: block;
    }
    .header {
        padding: 0.2rem 2rem;
    }
}